// Styling for anything INSIDE the contents div. Contents is in main.css
$blue: rgba(202, 235, 242, 1);
$white: rgba(239, 239, 239, 1);
$grey: rgba(169, 169, 169, 1);
$red: rgba(255, 59, 63, 1);
$black: rgba(24, 24, 24, 1);

$largeFont: "Fira Sans", sans-serif;
$mediumFont: "Muli", sans-serif;
$largeMenuBorder: solid 2px lighten($black, 30%);

@mixin tablet {
    @media (min-width: 600px) and (max-width: 949px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 950px) {
        @content;
    }
}
#aboutBottom {
    display: none;
    
}
 .bottom {
        color: $black;
        font-size: 20px;
        padding: 10%;
        text-shadow: 0 1px 1px $white;
        @include desktop(){
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // overflow: scroll;
            font-size: 35px;
            height: 100%;

        }
    }
#contactBottom {
    display: none;
    
}
#costBottom {
    display: none;
}
.contentStyle {
    font-display: $mediumFont;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    a {
        text-decoration: none;
    }
    p {
        color: $black;
        font-size: 20px;
        text-shadow: 1px 1px 1px $white;
    }
    h1 {
        text-align: center;
        color: $white;
        text-shadow: 1px 1px 1px $black;
    }

    @include desktop {
        p {
            color: darken($grey, 45%);
            text-shadow: 0 1px 1px $white;
            padding: 10px 5px 0 0;
            font-size: 30px;
        }

    }
    // .bottom {
    //     color: $black;
    //     font-size: 20px;
    //     padding: 10%;
    //     text-shadow: 0 1px 1px $white;
    //     @include desktop(){
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         overflow: scroll;
    //         font-size: 35px;
    //         height: 100%;

    //     }
    //}
}
#contact {
    display: none;
    margin-left: 100%;
    
}
.contentCenter {
    display: flex;
    justify-content: center;
    align-items: safe center;
}
#cost {
    display: none;
    margin-left: 100%;
}
.drop {
    display: flex;
    justify-content: center;
    height: 60px;
    
    img{
        animation: arrows 1s alternate infinite;
        height: 30px;
        opacity: .4;
        @include desktop(){
            height: 40px;
        }
    }
    span {
        color: lighten($black, 30%);
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        @include desktop(){
            font-size: 20px;
        }
    }
        &:hover {
        cursor: pointer;
        }
}
@keyframes arrows {
  0%   {margin-top: 0;}
  25%  {margin-top: 5px}
  50%  {margin-top: 10px;}
  100% {margin-top: 15px;}
}
#email-form {
    display: flex;
    justify-content: center;
}
#example {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        height: 200px;
        margin: 20px;
        border-radius: 5px;
        border: 2px solid;
        border-color: $black;
        
        &:hover {
            cursor: pointer;
        }
        
    }
}
#iDo {
    display: none;
    margin-left: 100%;
}

#things {
    display: none;
    margin-left: 100%;
}
#mail-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include desktop() {
        width: 100%;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $mediumFont;
        font-size: 20px;
        color: lighten($black, 20%);
        width: 30%;
        height: 25px;
        border-radius: 5px;
        border-top: 2px solid lighten($white, 80%);
        border-bottom: none;
        border-left: none;
        border-right: none;
        box-shadow: 1px 1px 2px lighten($black, 20%);
        @include tablet() {
            width: 20%;
        }
    }
    input {
        width: 45%;
    }
    input,
    textarea {
        border: none;
        margin: 5px 5px 5px 5px;
        border-radius: 3px;
        border-top: 2px solid lighten($white, 80%);
        box-shadow: 1px 1px 2px lighten($black, 20%);
        @include desktop() {
            height: 25px;
        }
    }
    textarea {
        padding: 5px;
        width: 100%;
    }
}
#phoneNumber {
    opacity: .8;
    width: 200px;
}

